<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!
  </h1>
  <h2>Creating the project</h2>
  <ul>
    <li>Created project in my Github repository</li>
    <li>Cloned to local folder <strong>git clone https://github.com/zebslc/angular5mat.git</strong></li>
    <li>ran <strong>ng new matseed --dry-run</strong></li>
    <li>Removed the --dry-run</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Ran <strong>ng test</strong> to test that unit tests work</li>
    <li>Ran <strong>ng e2e</strong> to test that end to end tests work</li>
    <li>Ran <strong>ng lint</strong> to test that there are no code standard issues</li>
    <li>Ran <strong>npm update -g</strong> to update all the packages before starting</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Ran <strong>ng test</strong> to test that unit tests work</li>
    <li>Renamed all the .css with .scss and updated in the app.component and angular-cli.json <strong>"styleExt": "scss"</strong> so we use SASS instead of css.  This then matches what material will use</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Checked in first stage</li>
  </ul>
</div>
