<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    {{ title }}!
  </h1>
  <h2>Creating the project</h2>
  <ul>
    <li>Created project in my Github repository</li>
    <li>Cloned to local folder <strong>git clone https://github.com/zebslc/angular5mat.git</strong></li>
    <li>ran <strong>ng new matseed --dry-run</strong></li>
    <li>Removed the --dry-run</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Ran <strong>ng test</strong> to test that unit tests work</li>
    <li>Ran <strong>ng e2e</strong> to test that end to end tests work</li>
    <li>Ran <strong>ng lint</strong> to test that there are no code standard issues</li>
    <li>Ran <strong>npm update -g</strong> to update all the packages before starting</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Ran <strong>ng test</strong> to test that unit tests work</li>
    <li>Renamed all the .css with .scss and updated in the app.component and angular-cli.json <strong>"styleExt": "scss"</strong> so we use SASS instead of css.  This then matches what material will use</li>
    <li>Added a web config file so the static pages are shown and altered assets within angular-cli.json to include it after favicon.ico</li>
    <li>Ran <strong>ng s</strong> to test it works</li>
    <li>Checked in first stage</li>
  </ul>
  <h2>Set up azure website as test host</h2>
  <ul>
    <li>In Azure create new resource -&gt; Web App then fill in name and details (https://portal.azure.com/#create/hub)</li>
    <li>Create a new project in visual studio online so you can set up a build https:/[your_company]].visualstudio.com/_projects</li>
    <li>When on the getting started page choose Build code then Setup Build from an external repository (unless you have used vs git instead of github)</li>
    <li>Choose GitHub and type a connection name then authorise (token the easiest)</li>
 </ul>
 <h2>Set up basic build (CI)</h2>
 <ul>
  <li>Choose the repository and continue</li>
  <li>Choose empty process</li>
  <li>Add npm custom with <strong>install --force</strong> </li>
  <li>Add npm custom for Build the app with <strong>run-script build</strong></li>
  <li>Add Azure App Service Deploy (set description, service name (choose from list don't type) and authorise)</li>
  <li>Tick additional deployment options -> publish with web deploy, remove additional files &amp; set package or folder to <strong>$(System.DefaultWorkingDirectory)/dist</strong> </li>
  <li>Click save, add a comment about this being the first test save and queue to test this part works</li>
  <li>Click the build number to check the build process gets this far without error</li>
  <li>If that works, click Triggers and toggle Enable Continuous Integration & pull request validation</li>
  <li>Return to the application, make a change and check it in to see it building and deploying</li>
</ul>
<h2>Set up testing (CT)</h2>
<ul>
<li>Added Puppetter, Headless chrome etc...</li>
<li>Configured Karma and Protractor to create coverage reports and use "Cobertura" which is a standard xml format for reporting in builds</li>
<li>In the online build process configured steps for e2e and test/coverage with reporting so that the results appear on the summary</li>
<li>The coverage report also includes tolerance percentage levels for acceptable coverage levels</li>
</ul>
<h2>Deploying to an external site (CD)</h2>
<ul>
  <li>Initially this was set to Azure App Service Deploy in order to make sure the site could deploy correctly.</li>
  <li>Now going to set up two deployment actions</li>
  <ul>
    <li>To an initial azure test site in order to ensure that the site works as expected</li>
    <li>The live site running on a non-azure static webhost</li>
  </ul>
</ul>
<h2>Adding Material</h2>
<ul>
  <li>So far this has just been about configuring the infrastructure of the site</li>
  <li>Now we need to add in the material parts and adjust the tests</li>
</ul>
<h2>Adding Routes</h2>
<ul>
  <li>We are ready to add sample routing for this seed project</li>
  <li>Create a route to a page that uses a service to get data &amp; tests</li>
  <li>Create an interceptor so that the data is populated by the routing before the page starts &amp; add tests</li>
</ul>
<h2>Adding and optimising images</h2>
<ul>
  <li>Add some static images to our assets folder and then optimise them using the build process for display on mobile devices</li>
</ul>
<h2>Extra bits</h2>
<ul>
  <li>Progressive web app</li>
  <li>Logins and security</li>
</ul>
<h2>Useful tools</h2>
<ul>
  <li>Webpack analyzer</li>
</ul>
<h2>Useful links</h2>
<ul>
  <li>Azure CI/CD with angular</li>
</ul>
</div>
